# General Variable
LLM_DIR=path/to/project

# Model Variable 
# In order to work correctly, the model must be published on HuggingFace.
# In case of a model which is a directory, put the name of the directory in MODEL_FILE
MODEL_REPO=publisher/model
MODEL_FILE=model
MODEL_DIRECTORY=path/to/the/new/model/directory
MODEL_NAME=the_name_you_want_to_give_to_your_model

# Slurm Variable
SBATCH_ACCOUNT=id_du_projet
SBATCH_JOB_NAME=job_name

# vLLM
VLLM_TOOL_CALL_PARSER=auto

# Benchmark variable
MODELS_TO_BENCHMARK="modelfile:engine"

# Dataset variable
# In order to work correctly, the dataset must be compatible with EleutherAI - lm evaluation harness
# For the moment, the loglikelihood isn't supported on OpenAi chat completion endpoint (which are used in this project). It should be implemented soon but for now, choose datasets whithout them.
DATASET_TASK="task"
