# General Variable
PROJECT_DIR=path/to/project

# Model Variable 
# In order to work correctly, the model must be published on HuggingFace.
MODEL_REPO=publisher/model
MODEL_FILE=model

# Slurm Variable
SBATCH_ACCOUNT=id_du_projet
SBATCH_JOB_NAME=job_name
